.text_section {
  background-color: #fff;
  width: 80%;
  position: sticky;
  overflow-y: scroll;
  text-align: center;
  font-size: 14px;
  padding: 20px;
  /* margin-left: 25%; */
  margin-top: 10px;
  height: 85vh;
  scrollbar-width: none;
}
.main_section1 {
  position: absolute;
  top: 0;
  /* left: 12%; */
  /* bottom: 0; */
  /* right: 0; */
  max-width: 1200px;
  padding: 0;
  width: 100%;
  height: 100%;
  /* text-align: left; */
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
}
.backrground_paper {
  height: 100vh;
  background-color: #000;
  opacity: 0.4;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.backrground {
  background-image: url("https://thumb.tildacdn.com/tild3939-3261-4835-b462-653964663538/-/format/webp/BG.png");
  height: 100vh;
  background-attachment: scroll;
  transform: initial;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.main_section_container1 {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  vertical-align: middle;
  position: relative;
  background-attachment: fixed;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_title {
  margin-bottom: 0px;
  font-family: "Roboto, Arial, sans-serif";
  font-size: 38px;
}

.title_sub {
  margin-top: 0px;
  color: #3b3434;
  font-family: "Roboto, Arial, sans-serif";
  font-size: 15px;
}

.title_sub_header {
  display: flex;
  font-size: 30px;
  font-weight: bold;
  align-self: flex-start;
}

.content_list_header {
  margin-top: 5%;
  font-family: "Roboto, Arial, sans-serif";
}

.table_list_container {
  margin-top: 3%;
  font-family: "Roboto, Arial, sans-serif";
  text-align: "left";
}

a {
  color:#000;
}

.list_text {
  margin-top: 10px;
  font-family: "Roboto, Arial, sans-serif";
}

.desc_container {
  margin-top: 5%;
  font-family: "Roboto, Arial, sans-serif";
}

.desc_header {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

.list_link {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  text-align: left;
}

ul.list {
  list-style-type: square;
}

ul.list_2 {
  list-style-type: none;
}

@media screen and (max-width: 1200px) {
  .main_section1 {
    left: 0;
  }
  .text_container {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    max-width: 540px;
  }
}

@media screen and (max-device-width: 1024px) {
  .main_section_container {
    background-attachment: scroll;
  }
}

@media screen and (max-width: 960px) {
  .main_section {
    max-width: 640px;
    padding: 0;
  }
  .main_section1 {
    left: 0;
  }
  .text_container {
    float: none;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
    box-sizing: border-box;
  }
  .backrground {
    height: 1100px;
  }
  .backrground_paper {
    height: 1100px;
  }
  .main_section_container {
    height: 1100px;
  }
}

@media screen and (max-width: 800px) {
  .button {
    width: 80%;
    font-size: 13px;
    height: 50px;
  }
}

@media screen and (max-width: 640px) {
  .main_section {
    height: 350px;
    padding: 0;
  }
  .main_section_container {
    background-attachment: scroll !important;
    background-size: cover;
    background-position: center center;
  }
  .backrground {
    height: 900px;
  }
  .backrground_paper {
    height: 900px;
  }
  .main_section_container {
    height: 900px;
  }
}

@media screen and (max-width: 480px) {
  .backrground {
    height: 1050px;
  }
  .backrground_paper {
    height: 1050px;
  }
}

@media screen and (max-height: 600px) {
  .success_text {
    height: 10vh;
    width: 30vw;
  }
}

@media screen and (max-height: 400px) {
  .text_container {
    display: flex;
    justify-items: center;
    align-items: center;
    width: 100%;
    margin: 4% 0 0 0;
    font-family: "Roboto", Arial, sans-serif;
    color: white;
    flex-direction: column;
    height: auto;
    max-width: 100%;
  }
  .backrground {
    height: 1200px;
  }
  .backrground_paper {
    height: 1200px;
  }
  .main_section_container {
    height: 1200px;
  }
}
